<div class="main_div">
  <div class="heading_div">
    <h2>Enter TODO</h2>
  </div>
  <div class="form-control">
    <ngrx-input [formControl]="toDoFormControl"></ngrx-input>
    <div class="button_div">
      <ngrx-button
        (buttonClicked)="addTodo()"
        buttonColor="primary"
        buttonLabel="Add TODO"
      ></ngrx-button>
    </div>
  </div>
  <!-- list div -->
  <div>
    <ngrx-list
      [TODO]="(TODO$ | async).todo ? (TODO$ | async).todo : []"
    ></ngrx-list>
  </div>
</div>
